@model global::Blog.ViewDTO.BlogDTO

@{
    ViewData["Title"] = "Create";
    Layout = "Shared/_LayoutHome.cshtml";
}
@Html.CheckBoxFor(m => m.Status)

<div class="container">
    <br />
    <h4>Blogs</h4>
    <div class="row">
        <form asp-action="Create" asp-controller="Blogs" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label">What is your blog topic?  </label>
                <select asp-for="GenreId">
                    <option value="0"> SE </option>
                    <option value="1"> AI </option>
                    <option value="2"> DS </option>
                    <option value="3"> BA </option>
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label">Short title</label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Image" class="control-label">Head Image</label>
                <input style="position:absolute; clip:inherit; width:max-content; height:max-content;"
                       asp-for="Image" accept="image/*" onchange="previewFile()" />
                <img style="width:500px;" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Intro" class="control-label"></label>
                <textarea asp-for="Intro" class="form-control" style="height:200px;width:50rem;"></textarea>
                @*<input asp-for="Intro" class="form-control" style="height:200px;"/>*@
                <span asp-validation-for="Intro" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Body" class="control-label">Body</label>
                <textarea class="Body-Editor" asp-for="Body" style="height:500px;"></textarea>
                @*<input asp-for="Body" class="form-control" />*@
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Status" class="control-label">
                    Do you want your blog to be in preview mode? In case you want to double check, the post will not be made public immediately. 
                </label>
                <br />
                <input type="checkbox" asp-for="Status" /> Yes, I want preview mode.
            </div>
            <br />
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/Trumbowyg-main/dist/trumbowyg.min.js"></script>
    
    <script>
        $('.Body-Editor').trumbowyg();
    </script>
}
    <script>
        function previewFile() {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                preview.src = reader.result;
            }
            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>

   